{% extends "base/base.html" %}

{% url 'new_preference' as new_preference_url %}
{% url 'create_folder' as new_folder_url %}
{% url 'create_subfolder' as new_subfolder_url %}

{% block body_content %}
<div style="background-color:#77B140;">
    <div class="row" style="margin: 0 auto;">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <br>
            <br>
            {% include "search/search.html" %}
        </div>
    </div>
    <br>
    <br>
</div>
<div class="container" align="center">
    <form method="POST" action="{% url 'openbar_users.views.create_folder' %}">
        {{ folder_form }}
        {% csrf_token %}
        <button type="submit">Create</button>
    </form>
    <form method="POST" action="{% url 'openbar_users.views.add_subfolder' %}">
        {{ folder_form }}
        {% csrf_token %}
        <input name="parent" type="text">
        <button type="submit">SubCreate</button>
    </form>
    <ul>
        {% for folder in folders %}
        <li><span>{{ folder.title }}</span> <span>{{ folder.owner }}</span> <span>{{ folder.id }}</span>  <span>{{ folder.parent.id }}</span></li>
        {% endfor %}
    </ul>
</div>
<div class="container display-box" align="center">
    <h3>Preferences</h3>
    <form method="POST" action="{{ new_preference_url }}">
        {{ preference_form }}
        {% csrf_token %}
        <button type="submit">Add</button>
    </form>
    <br>
    <table style="text-align: center">
        <tr>
            <td><strong>Topic</strong></td>
            <td><strong>Medium</strong></td>
            <td><strong>Complexity Score</strong></td>
        </tr>
    {% for preference in preferences %}
        <tr>
            <td>{{ preference.topic }}</td>
            <td>{{ preference.medium }}</td>
            <td>{{ preference.complexity_score }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock body_content %}