<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}OpenBAR{% endblock title %}</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}" />

    <script type="text/javascript" src="{% static 'search/js/jquery-1.11.3.min.js' %}"></script>
    <style type="text/css">
        .folder {
          color: black;
        }
        ul > li {
            margin-left: 10px;
        }
    </style>
    {% block specific_css %}
    {% endblock specific_css %}
</head>
{% url 'logout' as logout_url %}
{% url 'index' as index_url %}
<body>
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ index_url }}" style="letter-spacing:2px">open<b>bar</b></a>
            {% if request.get_full_path != index_url %}
                <div class="navbar-form navbar-left">
                    {% include 'search/search.html' %}
                </div>
            {%  endif  %}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="/create_account">Sign Up</a></li>
                    <li><a data-toggle="modal" data-target="#loginModal" href="#!">Log In</a></li>
                {% else %}
                    <li><p class="navbar-text">Logged in as: {{ user.username }}</p></li>
                    <li>
                        <a href="#!" onclick="document.getElementById('logout_form').submit()">Log Out</a>
                    </li>
                    <form action="{{ logout_url }}" id="logout_form">
                        {% csrf_token %}
                    </form>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverted navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ index_url }}" style="letter-spacing:2px;color:white">open<b>bar</b></a>
                {% if request.get_full_path != index_url %}
                <div class="navbar-form navbar-left">
                    {% include 'search/search.html' %}
                </div>
            {%  endif  %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                  <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><button type="button" class="btn btn-default navbar-btn" href="/create_account">Sign Up</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal" href="#!">Log In</button></li>
                {% else %}
                    <li><p class="navbar-text">Hello, {{ user.username }}!</p></li>
                    <li>
                        <li><button type="button" class="btn btn-default navbar-btn" href="#!" onclick="document.getElementById('logout_form').submit()">Log Out</button></li>
                    </li>
                    <form action="{{ logout_url }}" id="logout_form">
                        {% csrf_token %}
                    </form>
                {% endif %}
            </ul>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


{% block body_content %}
{% endblock body_content %}

{% if not user.is_authenticated %}
    {% include "login/login.html" %}
{% endif %}
<script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    $(function () { $("[data-toggle='popover']").popover({html: true}); });
</script>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% block specific_js %}
{% endblock specific_js %}
</body>
</html>