{% extends 'base/base.html' %}

{% block specific_css %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}" />

{% endblock specific_css %}
{% url 'index' as index_url %}

{% block body_content %}
<div class="container display-box" align="center">
        <!-- Logo -->
        <div class="row">
            <br>
            <a href="{{ index_url }}"><img src="{% static 'search/img/openbar_logo.png' %}" width="5%" /></a>
            <h1 class="logo">open<b>bar</b></h1>
            <h4>the smarter search engine</h4><br>
        </div>

        <!-- Search Bar -->

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include "search/search.html" %}
                <br><br>

                <p>
                    Give it a shot!<br>
                    Try searching for something that you want breakthrough academic resources on!<br>
                    For example, "derivatives" might be a good place to start...
                </p>
            </div>
    </div>
{% endblock body_content %}
