* {
	color: #62686C;
}

body {
	padding-top: 100px;
	background-color: #77B140;
}

.display-box {
	background-color: white; 
	padding: 15px;
	border-radius: 15px;
	box-shadow: 1px 1px 3px #444;
}

.logo {
	font-weight: normal;
	letter-spacing: 4px;
}

h4 {
	font-weight: normal;
}

a {
 	text-decoration: none;
 }

.list-unstyled br {
    display: none;
}



