* {
	color: #62686C;
}

body {
	padding-top: 100px;
	background-color: #dfdfdf;
}

.navbar {
	background-color: #77B140;
	box-shadow: 0px 12px #388e3c;
	padding-right:25px;
}

.navbar-text {
    color: white;
}

.navbar-brand b {
	color: white !important;
	letter-spacing: 3px;
}

.navbar a{
	color: white;
	text-transform: lowercase;
}

.navbar-btn {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	text-transform: lowercase;
	transition: .3s;
}

.navbar-btn:hover {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 20px;
	color: #ddd;
}


.navbar-btn:active {
    background-color: yellow;
}

.display-box {
	background-color: white; 
	padding: 50px;
	border-radius: 15px;
}

.logo {
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 5em;
	line-height: 50%;
}

p {
	color: #62686C;
}

h4 {
	font-weight: normal;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

a {
 	text-decoration: none;
}

.query {
	text-transform: none; padding: 5px 70px 0px 10px;
}

.folder {
  color: black;
}

ul > li {
	margin-left: 10px;
}

.list-group-item {
    padding:10px;
    margin-right:10px;
}

.wrapper {
    min-height: 100%;
	padding-bottom: 150px;
	overflow: auto;
}

.footer {
  position: relative;
  margin-top: -105px; /* negative value of footer height */
  height: 30px;
  clear:both;
  padding-top:20px;
}

.footer-hr {
	margin:0px;
}