{% load staticfiles %}

  <!-- Modal -->
<div class="modal fade" id="complexitymodal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                This is your complexity score. It is a measurement of your expertise.
                This will be used to rank the results you see and give you content that meets your
                level of understanding.
                <br>
                Here is the rank from least to most complex:
                <br>
                {% for score in ordered_score_list %}
                 <span class="badge">{{ score }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>