<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <!--Dropdown-->
    <ul class="dropdown-menu">
        <li>
            <ul class="list-unstyled col-sm-6">

            </ul>
            <ul class="list-unstyled col-sm-6 nav nav-list" id="folders">
                {% if user.is_authenticated %}
                    {% include 'users/folders.html' with folders=folders %}
                {% else %}
                    <a data-toggle="modal" data-target="#loginModal">Log In</a> to save bookmarks.
                {% endif %}
            </ul>
        </li>
    </ul>
</div>
