<div class="input-group-btn dropdown openbar-dropdown openbar-dropdown-folder">
    <button type="button" class="btn btn-default openbar-dropdown openbar-dropdown-folder" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
    </button>
    <!--Dropdown-->
    <ul class="dropdown-menu openbar-dropdown-menu" style="padding-right:10px">
        <li>
            <!--<ul class="list-unstyled">-->
                <!--<li><input type="checkbox" value=""><label>Mathematics</label></li>-->
            <!--</ul>-->
            <ul class="list-unstyled nav nav-list folders" id="folders">
                {% if user.is_authenticated %}
                    {% include 'users/folders.html' with folders=folders %}
                {% else %}
                    <a data-toggle="modal" data-target="#loginModal" href="#!" style="text-transform: none; color: #337ab7;">Log In</a> to save bookmarks.
                {% endif %}
            </ul>
        </li>
    </ul>
</div>
<script>
    $('button.openbar-dropdown-folder').on('click', function (event) {
        $(".openbar-dropdown-folder").toggleClass('open');
    });

    $('body').on('click', function (e) {
        if (!$('.openbar-dropdown-menu').is(e.target)
            && $('.openbar-dropdown-menu').has(e.target).length === 0
            && $('.open').has(e.target).length === 0
        ) {
            $('.openbar-dropdown').removeClass('open');
        }
    });

    function update_indicator() {
        $(".indicator").toggleClass("glyphicon-folder-close");
        $(".indicator").toggleClass("glyphicon-folder-open");
    }

    function set_click_handlers() {
         $('.folder').on('click', function(event) {
             console.log("clicked folder");
             update_indicator();
        });
        set_menu();
    }

    set_click_handlers();
</script>
