<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenBAR</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/search/css/style.css" />

    <script type="text/javascript" src="/static/search/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/search/js/folder_manage.js"></script>
    <script type="text/javascript">
        function get_new_query(section) {
            $.ajax({
                url: "/voodoo/get_random_query",
                data: {id: $("#new_id").val()},
                success: function(result){
                    $("#"+section).html(result);
                    $("#new_id").val('');
                }});
        }

        function adj(id, direction, amount) {
            url = "/set_complexity_score";
            if (direction == "greater") {
                url = "/increase_complexity_score";
            } else if (direction == "less") {
                url = "/decrease_complexity_score";
            }
            $.ajax({
                url: url,
                data: {id: id, amount: amount},
                success: function(result){
                    console.log(result);
                }
            });
        }

        function review(id) {
            $.ajax({
                url: "/reviewed_link/",
                data: {id: id},
                success: function(result){
                    $("#links_followed").html(result);
                }
            });
        }
    </script>
    

    

    <link rel="stylesheet" type="text/css" href="/static/search/css/style.css" />


</head>



<body>
<!-- Navbar -->
<nav class="navbar navbar-inverted navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" style="letter-spacing:2px;color:white">open<b>bar</b></a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                  <ul class="nav navbar-nav navbar-right">
                
                    <li><button type="button" class="btn btn-default navbar-btn"><a href="/create_account">Sign Up</a></button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal" href="#!">Log In</button></li>
                
            </ul>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>





    <br>
    <div class="row">
        <div class="col-md-5" align="right">
            <img src="/static/search/img/openbar_logo.gif" width="12%">
        </div>
        <div class="col-md-7" align="left">
            <h1 class="logo" width="100%">open<b>bar</b></h1>
            <h3 align="justify">breakthrough academic resources</h3><br>
        </div>
    </div><br>

    <div class="container display-box" align="center">
        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-12">
                


<form action="/search/" method="post" class="form-horizontal" role="form">
    <div class="input-group">
        <div class="input-group-btn dropdown openbar-dropdown openbar-dropdown-folder">
    <button type="button" class="btn btn-default openbar-dropdown openbar-dropdown-folder" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <!--Dropdown-->
    <ul class="dropdown-menu openbar-dropdown-menu">
        <li>
            <!--<ul class="list-unstyled">-->
                <!--<li><input type="checkbox" value=""><label>Mathematics</label></li>-->
            <!--</ul>-->
            <ul class="list-unstyled nav nav-list folders" id="folders">
                
                    <a data-toggle="modal" data-target="#loginModal">Log In</a> to save bookmarks.
                
            </ul>
        </li>
    </ul>
</div>
<script>
    $('button.openbar-dropdown-folder').on('click', function (event) {
        $(".openbar-dropdown-folder").toggleClass('open');
    });

    $('body').on('click', function (e) {
        if (!$('.openbar-dropdown-menu').is(e.target)
            && $('.openbar-dropdown-menu').has(e.target).length === 0
            && $('.open').has(e.target).length === 0
        ) {
            $('.openbar-dropdown').removeClass('open');
        }
    });

    function update_indicator() {
        $(".indicator").toggleClass("glyphicon-folder-close");
        $(".indicator").toggleClass("glyphicon-folder-open");
    }

    function set_click_handlers() {
         $('.folder').on('click', function(event) {
             console.log("clicked folder");
             update_indicator();
        });
        set_menu();
    }

    set_click_handlers();
</script>

        <input type='hidden' name='csrfmiddlewaretoken' value='5PpRB1own38OhvX8ZNOEwuZVJp0B6FzF' />
        <input type="text" class="form-control" aria-label="..." placeholder="Get a drink?" required id="search" for="search" name="input" autofocus>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>
</form>


    
    <script src="/static/search/js/init.js"></script>
    <script type="text/javascript">
        function set_menu() {
          $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
          });
          $(function(){
            $('.tree-toggle').parent().children('ul.tree').toggle(200);
          })
        }

        $(document).ready(function() {
           set_menu();
        });
    </script>

            </div>
        </div>
    </div>
    <br><br>
    <div class="container info" align="center">
        <h4>OpenBAR is a search engine that learns with you!</h4>
        <p>Using machine learning technology, OpenBAR provides you with educational resources that are actually relevant to you.
        <br>The more you use it, the better the results!</p>
    </div>



    



  <!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" align="center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <br><img src="/static/search/img/openbar_logo.png" width="15%" /><br>
          <h1 class="logo">member<b>login</b></h1>
        </div>
          <form method="post" action="/accounts/login/">
        <div class="modal-body">
                <input type='hidden' name='csrfmiddlewaretoken' value='5PpRB1own38OhvX8ZNOEwuZVJp0B6FzF' />
                <tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="25" name="name" type="text" /></td></tr>
                <br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="#loginModal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div></form>
      </div>

    </div>
  </div>


<script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    $(function () { $("[data-toggle='popover']").popover({html: true}); });
</script>
<script type="text/javascript">
    function get_user_complexity_score() {
        score = "";
        $.ajax({
            url: "/get_user_complexity_score/",
            success: function(result){
                $("#user_cs").html(result);
                score = result;
            }
        });
        return score;
    }

    $(document).ready(function() {
        get_user_complexity_score();
    });
</script>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>


</body>
</html>