{% extends "base/base.html" %}
{% load staticfiles %}

{% block specific_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}" />

{% endblock specific_css %}

{% block body_content %}
<div class="container">
    <div class="row">
        <input type="text" name="new_id" id="new_id">
        <button id="next" type="submit">Next</button>
    </div>
    <div class="row" style="padding: 30px;" id="first">
        {{ first.title }} - {{ first.complexity_score.show }}
        <span hidden>{{ first.id }}</span>
    </div>
    <div class="row">
        <button id="wlt">Waaaaay Easier than</button>
        <button id="lt">Easier than</button>
        <button id="same">About the same as</button>
        <button id="gt">Harder than</button>
        <button id="wgt">Waaaaaay Harder than</button>
    </div>
    <div class="row" style="padding: 30px;" id="second">
        {{ second.title }} - {{ first.complexity_score.show }}
        <span hidden>{{ second.id }}</span>
    </div>
</div>
<script type="text/javascript">
    $("#wlt").click(function() {
        $.ajax({
            url: "{% url 'openbar_search.views.set_complexity_score' %}",
            data: {id: $(document).find("#second > span").text(), amount: $(document).find("#first > span").text()},
            success: function(result){
                console.log(result);
                adj($(document).find("#second > span").text(), "greater", 2);
                get_new_query("second");
            }
        });
    });

    $("#lt").click(function() {
        $.ajax({
            url: "{% url 'openbar_search.views.set_complexity_score' %}",
            data: {id: $(document).find("#second > span").text(), amount: $(document).find("#first > span").text()},
            success: function(result){
                console.log(result);
                adj($(document).find("#second > span").text(), "greater", 1);
                get_new_query("second");
            }
        });
    });

    $("#wgt").click(function() {
        $.ajax({
            url: "{% url 'openbar_search.views.set_complexity_score' %}",
            data: {id: $(document).find("#second > span").text(), amount: $(document).find("#first > span").text()},
            success: function(result){
                console.log(result);
                adj($(document).find("#second > span").text(), "less", 2);
                get_new_query("second");
            }
        });
    });

    $("#gt").click(function() {
       $.ajax({
            url: "{% url 'openbar_search.views.set_complexity_score' %}",
            data: {id: $(document).find("#second > span").text(), amount: $(document).find("#first > span").text()},
            success: function(result){
                console.log(result);
                adj($(document).find("#second > span").text(), "less", 1);
                get_new_query("second");
            }
        });
    });

    $("#same").click(function() {
       adj("same", $(document).find("#first > span").text());
    });

    $("#next").click(function() {
        get_new_query("first");
    });
</script>
{% endblock body_content %}