{% url 'search' as search_url %}
{% url 'homepage' as home_url %}

<form action="{{ search_url }}" method="post" class="form-horizontal" role="form">
    <div class="input-group">
        {% include 'search/dropdown.html' with folders=folders%}
        {% csrf_token %}
        <input type="text" class="form-control" aria-label="..." placeholder="Get a drink?" required id="search" for="search" name="input" autofocus>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>
</form>

{% block specific_js %}
    {% load staticfiles %}
    <script src="{% static 'search/js/init.js' %}"></script>
    <script type="text/javascript">
        function set_menu() {
          $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
          });
          $(function(){
            $('.tree-toggle').parent().children('ul.tree').toggle(200);
          })
        }
        $(document).ready(function() {
//            $('.dropdown-menu').click(function(event) {
//                 event.stopPropagation();
//              });​
           set_menu();
        });
    </script>
{% endblock specific_js %}