{% url 'search' as search_url %}
{% url 'homepage' as home_url %}
<form action="{{ search_url }}" method="post" class="form-horizontal" role="form">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <!--Dropdown-->
            <!-- TODO add the checkboxes in the drop menu to form -->
            <ul class="dropdown-menu" id="search-settings" style="padding: 5px 15px 15px 15px">
                <li>
                    <div class="row" style="width: 250px">
                        <ul class="list-unstyled col-md-6">
                            <!-- Subjects -->
                            <li class="dropdown-header">Subjects</li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="all" checked>
                                        All
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="math">
                                        Math
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="science">
                                        Science
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="history">
                                        History
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="art">
                                        Fine Arts
                                    </label>
                                </div>
                        </ul>
                        <!-- Media -->
                        <ul class="list-unstyled col-md-6">
                            <li class="dropdown-header">Media</li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="all" checked>
                                        All
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="text">
                                        Text
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="video">
                                        Video
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="interactive">
                                        Interactive
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="openstax">
                                        OpenStax
                                    </label>
                                </div>
                        </ul>
                    </div>
                    <div class="row" style="width: 250px">
                        <ul class="list-unstyled col-md-12">
                            <li role="separator" class="divider"></li>
                            {% if user.is_authenticated %}
                                <a href="{{ home_url }}"><li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Profile</li></a>
                                <a href="{{ home_url }}"><li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</li></a>
                            {% else %}
                                <a data-toggle="modal" data-target="#loginModal" href="#!">Log In</a>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        {% csrf_token %}
        <input type="text" class="form-control" aria-label="..." placeholder="Get a drink?" required id="search" for="search" name="input">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>
</form>

{% block specific_js %}
    {% load staticfiles %}
    <script src="{% static 'search/js/init.js' %}"></script>
{% endblock specific_js %}